/*
Authors: Jonathan Ishii, Matthew Mikulka
Contact: jtishii@csu.fullerton.edu, mattmikulka@gmail.com
Description: This files applies formatting to the webpage
*/

body {
  text-align: center;
  font-family: sans-serif;
}
canvas {
  background-color: white;
}

#navbar {
  z-index: 3;
  overflow: hidden;
  display: block;
  background: transparent;
  text-align: center;
  width: 100vw;
}

#currentFlow {
  border: solid 5px black;
  padding: 30px 60px;
  text-align: center;
  font-size: 30px;
  float: left;
  margin-top: 150px;
  margin-left: 40px;
  margin-bottom: 30px;
  display: inline-block;
  /* makes the pointer into a hand to make it more button feely. yay ux/ui */
  cursor: pointer;
}

#unusedEdges {
  border: solid 5px black;
  padding: 30px 60px;
  text-align: center;
  float: right;
  font-size: 30px;
  margin-top: 150px;
  margin-right: 40px;
  margin-bottom: 30px;
  display: inline-block;
  /* makes the pointer into a hand to make it more button feely. yay ux/ui */
  cursor: pointer;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}
